*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
    box-sizing: border-box;
    padding: 20px;
}

.contaniner{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.col, .col-12{
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    margin: 4px;
}

table{
    background-color: azure;
    border-radius: 10px;
}